.page-wiki-search-multi #content .section {
  background-color:#eee;
  padding:20px;
  background-image: url("../images/block_corner.png");
  background-repeat: no-repeat;
  margin-bottom:35px;
  color: #0a5866;
}
.page-wiki-search-multi #edit-submit-query {
  margin-top:24px;
}
#eirikboks {
  width:85%;
  float:left;
  font-size:1.4em;
  height:35px;
  border: 2px solid #0a5866;
  margin-top:24px;
}
.sokwrap {
  margin-top:20px;
  background-color: #d9d9d9;
  background-image: url("../images/block_gradient.png");
  background-position: 0% 0%;
  background-repeat: repeat-x;
  color: #0a5866;
  display:none;
  float:left;
  margin-right:12px;
  width:30%;
}
.sokwrap .overskr {
  background-image: url("../images/block_corner.png");
  background-repeat: no-repeat;
  font-size: 24px;
  line-height: 28px;
  color: #0a5885;
  font-weight: 400;
}
.sokwrap div {
  padding:20px;
}